
body {
	margin: 0;
	padding: 0;
	font-family: lucida sans, tahoma, sans-serif;
	color: #D9F584;
	font-size: 14px;
	background: #568D09 url(img/background.png) no-repeat center;
}

.title{
	font-size:20px;
}

.search{
	width:582px;
	height:79px;
	margin-top:6px;
	margin-left:3px;
	border:0;
	padding-left:10px;
	font-size:46px;
	color: #000;
	outline: none;
	background: url(img/search.png);
}

#search-btn {
	float:right;
	margin-top:5px;
	margin-right:7px;
	margin-buttom:7px;
}

#search-btn img {
    border: 0;
}

#content, .card {
    width: 960px;    
}

#content {
    margin: auto;
    overflow: hidden;
    border-top: 5px solid #fff;
}

.card {
    position: absolute;
    top: 182px;
}

#search-card h1, #search-card p {
    margin-left: 145px;
    margin-right: 145px;
}

#search-card p {
    line-height: 23px;
    margin-top: 20px;
}

#search-card .search_bar {
	width:715px;
	height:88px;
	margin: 35px 125px;
	background: url(img/cauta_bar.png);
}

h1 {
    color: #FFFFFF;
    font-family: arial,sans-serif;
    font-size: 34px;
    letter-spacing: -1px; 
    margin-top: 0px;
    margin-bottom: 0;
}


.logo {
    margin-top: 12px;
}